@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var formSettings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "formHelpSettings") ?? null;

    var headline = formSettings?.Value<string>("headline") ?? "Default Headline";
    var text = formSettings?.Value<string>("text") ?? "";

    var backgroundColorLabel = formSettings?.Value<ColorPickerValueConverter.PickedColor>("backgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = (!string.IsNullOrEmpty(backgroundColorLabel) && backgroundColorLabel != "none") ? $"custom-{backgroundColorLabel}" : "";

    var headlineColor = formSettings?.Value<ColorPickerValueConverter.PickedColor>("headlineColor")?.Label.ToLower() ?? "";   
    var headlineColorClass = (!string.IsNullOrEmpty(headlineColor) && headlineColor != "none") ? $"text-color-{headlineColor}" : "";

    var textColor = formSettings?.Value<ColorPickerValueConverter.PickedColor>("textColor")?.Label.ToLower() ?? "";
    var textColorClass = (!string.IsNullOrEmpty(textColor) && textColor != "none") ? $"text-color-{textColor}" : "";
}

<div class="container form-container-help @backgroundColorClass">
    
    <div class="form-wrapper">
        <div class="form-header">
            <h3 class="headline @headlineColorClass">@headline</h3>
        </div>
        <p class="text @textColorClass">@text</p>

        @using (Html.BeginUmbracoForm("HandleRequestCallBack", "FormSurface", FormMethod.Post))
        {
            <div class="form">
                <div class="form-input-group">
                    <input type="email" id="email" name="email" placeholder="Email address" class="form-input" required />
                    <span class="form-input-error">You must enter an e-mail address</span>
                </div>
            </div>
        }
    
    </div>

</div>